@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');
*{
	box-sizing: border-box;
  }
  html, body{
	margin: 0;
	width: 100%;
	min-height: 100%;
	font-family: "Barlow";
	background: #3500D3;
	}
	body{
		transition: background .3s;
	}
	.changeColor {
		background: white;
 }
  section.hero{
	width: 100%;
	padding: 7% 10%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  section.hero > h1{
	color: #fff;
	font-size: 5.5vw;
	font-weight: 500;
	margin: 0;
	line-height:100%;
	vertical-align: middle;
	bottom: 60px;
	right: calc(10% + 20px);
	z-index: 12
  }
  section.hero > h1 > svg{
	width: 10vw;
	vertical-align: middle;
	margin-left: -10px;
  }
  section.content{
	max-width: 1200px;
	margin: 0 auto;
	min-height: 800px;
	padding: 0 40px 40px 40px;
	overflow: hidden;
	position: relative;
	font-size: 20px;
	line-height: 124%;
	color: #171717;
	z-index: 10;
  }
  section.content h1{
	color: #171717;
	font-size: 80px;
	font-weight: normal;
	line-height: 100%;
	margin-left: 1%
	}
	section.content h2{
		color: #171717;
		font-weight: normal;
		line-height: 100%;
		margin-left: 1%
	}
	section.content p{
		margin-left: 1%;
		font-size: 1.2em;
	}
  nav{
	  height: 60px;
	  width: 100%;
	  background: #3500D3;
	  font-size: 25px;
	  position: fixed;
	  top: 0;
	  left: 0;
	  padding: 0 10%;
	  line-height: 60px;
	  z-index: 9999;
  }
  nav a{
	  color: #fff;
	  text-decoration: none;
	  padding: 0 20px;
	  display: inline-block;
		position: relative;
		cursor: pointer;
  }
  nav a:before, nav a:after{
	  content: attr(data-label);
	  display: block;
	  padding: 0 20px;
	  height: 100%;
	  width: 100%;
	  top: 0;
	  left: 0;
	  position: absolute;
	  opacity: 1;
	  filter: blur(1px)
  }
  nav a:before{
	color: magenta;
	z-index: -2;
	transform: translate(0, 0)
  }
  nav a:after{
	color: cyan;
	z-index: -1; 
	transform: translate(0, 0)
  }
  nav a:hover:before{
	animation: glitch 4s cubic-bezier(.25, .46, .45, .94) both infinite;
  }
  nav a:hover:after{
	animation: glitch 4s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
  }
  @keyframes glitch {
    0% {
        transform: translate(-1.5px, -1.5px)
    }
    20% {
        transform: translate(-5px, 5px)
    }
    40% {
        transform: translate(-5px, -5px)
    }
    60% {
        transform: translate(5px, 5px)
    }
    80% {
        transform: translate(5px, -5px)
    }
    to {
        transform: translate(1.5px, 1.5px)
    }
	}
	.imgs::after{
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		clear: both;
	}
	.imgs img{
		float: left;
		width: 48%;
		height: auto;
		margin: 1%;
	}
	@media(max-width: 950px){
		section.hero > h1{
			font-size: 10vw;
			display: flex;
			flex-direction: column-reverse;
			flex-wrap: wrap;
			}
			section.hero > h1 > svg{
			display: block;
			width: 60%;
			order: 1;
			margin-left: 20%;
			}
			.imgs img{
				width: 100%;
				margin: 1% 0%;
			}
	}