@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');
*{
	box-sizing: border-box;
  }
  html, body{
	margin: 0;
	width: 100%;
	min-height: 100%;
	font-family: "Barlow";
	background: #3500D3;
	}
	/* NAVIGATION */
	nav{
	  width: 100%;
	  background: linear-gradient(180deg, rgba(53,0,211,1) 35%, rgba(53,0,211,0) 100%);
	  font-size: 25px;
	  position: fixed;
	  top: 0;
	  left: 0;
	  padding: 1rem 1.5rem;
	  z-index: 9999;
	}
	nav::after{
		content: '';
		display: block; 
		clear: both;
	}
	nav a{
		color: #fff;
		text-decoration: none;
		font-size: 40px;
		font-weight: 500;
	}
	nav > a > svg{
		vertical-align: middle;
		height: 70px;
	}
	.links{
		float: right;
	}
  .links a{
		color: #fff;
		font-size: 25px;
		font-weight: 400;
	  padding: .5rem 1rem;
		display: block;
		float: left;
		position: relative;
		cursor: pointer;
  }
  .links a:before, .links a:after{
	  content: attr(data-label);
	  display: block;
	  padding: .5rem 1rem;
	  height: 100%;
	  width: 100%;
	  top: 0;
	  left: 0;
	  position: absolute;
	  opacity: 1;
	  filter: blur(1px)
  }
  .links a:before{
	color: magenta;
	z-index: -2;
	transform: translate(0, 0)
  }
  .links a:after{
	color: cyan;
	z-index: -1; 
	transform: translate(0, 0)
  }
  .links a:hover:before{
	animation: glitch 4s cubic-bezier(.25, .46, .45, .94) both infinite;
  }
  .links a:hover:after{
	animation: glitch 4s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
  }
  @keyframes glitch {
    0% {
        transform: translate(-1.5px, -1.5px)
    }
    20% {
        transform: translate(-5px, 5px)
    }
    40% {
        transform: translate(-5px, -5px)
    }
    60% {
        transform: translate(5px, 5px)
    }
    80% {
        transform: translate(5px, -5px)
    }
    to {
        transform: translate(1.5px, 1.5px)
    }
	}
	h1{
		color: rgba(0,0,0, .1);
		font-size: 20vw;
		font-weight: normal;
		line-height: 100%;
		margin: 0;
		margin-bottom: -6vw;
		z-index: 1;
	}
	h2{
		color: #fff;
		font-weight: normal;
		line-height: 100%;
		margin-bottom: 1%;
	}
	p{
		color: #fff;
	}
	a{
		color: #fff;
	}

  section.hero{
	width: calc(100% - 2rem);
	padding: 80px;
	position: relative;
	overflow: hidden;
	margin-top: 200px;
	margin-bottom: 100px;
	}
	section.hero h1{
		color: rgba(0,0,0, .5);
		font-size: 5rem;
		max-width: 70%;
		margin-bottom: 10px;
	}
	section.hero h1 span{
		color: #fff;
	}
	section.hero h3{
		color: #fff;
		width: 100%;
		margin-top: 20px;
	}
	
 
  section.content{
	width: calc(100% - 2rem);
	margin: 0 auto;
	min-height: 800px;
	padding: 0 40px 40px 40px;
	overflow: hidden;
	position: relative;
	font-size: 20px;
	line-height: 124%;
	color: #171717;
	z-index: 10;
  }
	section.content p{
		font-size: 1.2rem;
	}
	.floats::after{
		content: '';
		display: block;
		width: 100%;
		height: 40px;
		clear: both;
	}
	.floats .brand{
		float: left;
		width: 48%;
		height: auto;
		margin: 2% 2% 0 0;
		z-index: 2;
	}
	.floats .brand img{
		width: 100%;
	}
	.floats .brand.fullWidth{
		width: 98%;
		margin: 2% 2% 0 0;
	}
	a.btn{
		background: #fff;
		color: #3500D3;
		display: inline-block;
		margin: 10px 10px 0 0;
		padding: .5em 1em;
		font-size: 1.5rem;
		text-decoration: none;
		border-radius: 4px;
		transition: .3s;
		margin-bottom: 50px;
	}
	a.btn:hover{
		letter-spacing: 2px
	}
	@media(max-width: 950px){
		nav{
			position: absolute;
		}
		nav .links{
			display: none;
		}
		nav a{
			font-size: 30px;
		}
		nav a svg{
			height: 60px;
		}
		section.hero, section.content{
			width: 100%;
			padding: 10px;
		}
		section.hero > h1{
			max-width: 90%;
			font-size: 3rem;
		}
		.floats .brand, .floats .fullWidth{
			width: 100%;
			margin: 1% 0%;
		}
	}