@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900|Roboto&display=swap');
.container{
    width: 100%;
    margin: 0;
    padding: 0;
}
article img{
	max-width: 100%;
}
*{
	box-sizing: border-box;
}
html, body{
	margin: 0;
	width: 100%;
	min-height: 100vh;
	font-family: "Roboto";
	background: #efefef;
}
body{
	margin-bottom: 200px
}
h1, h2, h3, h4{
	font-weight: 900;
	font-family: "Red Hat Display";
	margin: 0px;
}
a{
	color: #003cff;
	text-decoration: none;
}
section.hero{
	height: 80vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	flex-direction: column;
	color: #fff;
	background: #003cff;
}
section.hero > h1 > svg{
	fill: #fefefe;
  	width: 10vmin;
  	position: absolute;
  	left: -11vmin;
	top: -1vmin;
	transform: scale(0);
  	opacity: 0;
  	animation: svgin .5s ease forwards;
  	transform-origin: center left;
}
section.hero > h1 {
	font-size: 7vmin;
	line-height: 7.2vmin;
	color: #fefefe;
	position: relative;
	margin-left: 10vmin;
	text-align: right;
}
section.hero > h1 span i {
	font-style: normal;
	transform: scale(0);
	transform-origin: center left;
	opacity: 0;
}
.in {
	display: inline-block;
	animation: in .5s ease forwards;
}
@keyframes in {
	50% {
	  transform: scale(2);
	}
	100% {
	  transform: scale(1);
	  opacity: 1;
	}
  }
  @keyframes svgin {
	50% {
	  transform: scale(2.7);
	}
	100% {
	  transform: scale(1);
	  opacity: 1;
	}
  }
/* BLOG STYLES */
section.blog .postBody{
	margin-bottom: 100px
}
.info{
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
	color: #999;
}
section.blog{
	max-width: 700px;
	margin: 80px auto 0 auto;
	position: relative;
	background: #efefef;
	font-size: 21px;
	line-height: 148%;
	color: #2d2d2d;
}
section.blog img{
	width: 100%;
	height: auto;
}
.mainLogo{
	color: #fff;
	text-align: right;
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 40px;
	margin: 0;
}
.center{
	display: block;
	padding-top: 100px;
	text-align: center;
}
.btn{
	background: #003cff;
	display: inline-block;
	font-size: 18px;
	margin: 10px;
	color: #fff;
	padding: 10px 20px;
	font-weight: 700;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: .3s;
	cursor: pointer;
	border-radius: 4px;
	text-transform: capitalize;
}
.btn:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transform: translateY(-2px);
}
.hide{
	display: none;
}
.seeMore{
	cursor: pointer;
}
.more{
	height: 0;
	overflow: hidden;
	transition: .3s ease;
}
.showMore{
	height: auto;
	overflow: visible;
}
@media (max-width: 700px){
	section.blog .postBody, section.blog h1, section.blog h3, section.blog .info, section.blog h2{
		padding: 0 10px;
	}
	.mainLogo{
		font-size: 25px;
	}
}
