@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900|Roboto&display=swap');
.container{
    width: 100%;
    margin: 0;
    padding: 0;
}
article img{
	max-width: 100%;
}
*{
	box-sizing: border-box;
}
html, body{
	margin: 0;
	width: 100%;
	min-height: 100vh;
	font-family: "Roboto";
	background: #efefef;
}
h1, h2, h3, h4{
	font-weight: 900;
	font-family: "Red Hat Display";
	margin: 0px;
}
a{
	color: #003cff;
	text-decoration: none;
}
section.hero{
	height: 80vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	flex-direction: column;
	color: #fff;
	background: #003cff;
}
section.smallHero{
	height: auto;
	background: transparent;
	align-items: flex-end;
	padding: 5%;
}
section.hero > h1 > svg{
	fill: #fefefe;
  	width: 10vmin;
  	position: absolute;
  	left: -11vmin;
	top: -1vmin;
	transform: scale(0);
  	opacity: 0;
  	animation: svgin .5s ease forwards;
  	transform-origin: center left;
}
section.smallHero > h1 > svg{
	fill: #003cff;
	width: 6vmin;
	left: -7vmin;
	top: -1vmin;
}
section.hero > h1 {
	font-size: 7vmin;
	line-height: 7.2vmin;
	color: #fefefe;
	position: relative;
	margin-left: 10vmin;
	text-align: right;
}
section.smallHero > h1{
	font-size: 4vmin;
	line-height: 4.2vmin;
	margin-left: 6vmin;
	color: #003cff;
}
section.hero > h1 span i {
	font-style: normal;
	transform: scale(0);
	transform-origin: center left;
	opacity: 0;
}
.in {
	display: inline-block;
	animation: in .5s ease forwards;
}
@keyframes in {
	50% {
	  transform: scale(2);
	}
	100% {
	  transform: scale(1);
	  opacity: 1;
	}
  }
  @keyframes svgin {
	50% {
	  transform: scale(2.7);
	}
	100% {
	  transform: scale(1);
	  opacity: 1;
	}
  }
/* BLOG STYLES */
section.blog .postBody{
	margin-bottom: 100px
}
.info{
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
	color: #999;
}
section.blog{
	max-width: 700px;
	margin: 80px auto 0 auto;
	position: relative;
	background: #efefef;
	font-size: 21px;
	line-height: 148%;
	color: #2d2d2d;
}
section.blog img{
	width: 100%;
	height: auto;
}
.mainLogo{
	color: #fff;
	text-align: right;
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 40px;
	margin: 0;
}
.center{
	display: block;
	padding-top: 100px;
	text-align: center;
}
.btn{
	background: #003cff;
	display: inline-block;
	font-size: 18px;
	margin: 10px;
	color: #fff;
	padding: 10px 20px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: .3s;
	cursor: pointer;
	border-radius: 4px;
	text-transform: capitalize;
}
.btn:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transform: translateY(-2px);
}
.btnT{
	background: transparent;
	border: 2px solid #003cff;
	color: #003cff;
	width: 100%;
	text-align: center;
}
.hide{
	display: none;
}
section.actions{
	max-width: 700px;
	margin: 80px auto 0 auto;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.shake{
	animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0,0,0);
	backface-visibility: hidden;
	perspective: 1000px;
	border: none;
	box-shadow: none;
	cursor: default;
}
.shake:hover{
	box-shadow: none;
	transform: translateY(0px);
}
.fadeIn{
	animation: fadeIn .5s ease forwards;
}
@keyframes fadeIn{
	from{
		margin-top: -10px;
		opacity: 0;
	}
}
@keyframes shake{
	10%, 90%{
		transform: translate3d(-1px, 0, 0);
	}
	20%, 80%{
		transform: translate3d(2px, 0, 0);
	}
	30%, 50%, 70%{
		transform: translate3d(-4px, 0, 0);
	}
	40%, 60%{
		transform: translate3d(4px, 0, 0);
	}
}

.footer{
	margin-top: 200px;
	padding: 5%;
	font-family: 'Red Hat Display';
	text-align: right;
}
.footer > a{
	margin: 0 10px;
	transition: .3s ease;
}
.footer > a:hover{
	letter-spacing: 1px;
}
@media (max-width: 700px){
	section.blog .postBody, section.blog h1, section.blog h3, section.blog .info, section.blog h2{
		padding: 0 10px;
	}
	.mainLogo{
		font-size: 25px;
	}
}
